* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.frame {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: 50px auto;
  border: 2px solid #000;
}

.cards {
  position: relative;
  transition: 0.5s ease;
  left: 0px;
  display: flex;
}

.card {
  width: 500px;
  height: 500px;
  /* Предотвращаем сжатие слайдов */
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
}

.rounds {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
}

.rounds button {
  width: 20px;
  height: 20px;
  background-color: #ecf0e1;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.rounds .active {
  background-color: #e67e22;
}
