* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.frame {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: 50px auto;
  border: 2px solid #000;
}

.cards {
  position: relative;
  transition: 0.5s ease;
  left: 0px;
  display: flex;
}

.card {
  width: 500px;
  height: 500px;
  /* Предотвращаем сжатие слайдов */
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
}

.rounds {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
}

.rounds button {
  width: 20px;
  height: 20px;
  background-color: #ecf0e1;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.rounds .active {
  background-color: #e67e22;
}

.triggers {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Свойство ниже делает блок triggers прозрачным
    для кликов, наведения и любых других действий курсора мыши */
  pointer-events: none;
}

/* Стили для кнопок-стрелок */
.triggers button {
  pointer-events: auto;
  height: 100%;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.triggers button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
