@mixin button-styles($background-color: grey, $color: black)
    background-color: $background-color
    color: $color
    padding: 10px 4px
    height: 40px

@mixin flex-center()
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100%