.positioning {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  list-style: none;
  text-align: left;
}

.card {
  background-color: bisque;
  padding: 1rem;
  border-radius: 8px;

  min-width: 20rem;
}

.card_elements {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  gap: 2rem;
}

button {
  align-self: center;
  max-height: fit-content;
}
