// Подключаем переменные
@use 'variables' as *;

// ===== Основной контейнер приложения =====
.app-todo {
    position: relative; // нужен для позиционирования внутренних элементов (например, кнопок)

    width: 100%;
    max-width: 420px; // ограничение ширины (как мобильное приложение)

    min-height: calc(100vh - 40px); // высота почти на весь экран (с учётом отступов body)

    background: $color-app-bg; // фон приложения
    border-radius: $radius-md; // скругление углов

    padding: 24px 16px 90px; // внутренние отступы (снизу больше под кнопку)

    box-shadow: $shadow-app; // тень для эффекта "карточки"
    overflow: hidden; // скрываем выходящий за границы контент
}