.header {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 4.615rem;
  padding: 70px 0 100px 0;

  &__info {
    gap: 24px;
  }

  &__btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
