$h1-size: 4.2rem;

//colors
$gray-borders: rgba(217, 217, 217, 1);
$gray-text: rgba(112, 112, 112, 1);
$search-btn: rgba(246, 88, 88, 1);

// backgrounds
$background-btn: rgba(0, 121, 138, 1);
$region-bg: rgba(151, 202, 209, 0.12);
$footer: rgba(33, 33, 33, 1);
$footer-headings: rgba(246, 247, 248, 1);
$footer-btn-color: rgba(255, 255, 255, 1);
$footer-border: rgba(112, 112, 112, 1);
$footer-li-color: rgba(197, 196, 196, 1);
